:root {
    --base: #424242;
    --base-shadow: #383838;
    --c-button: #E3344B;
    --operator: #9F9F9F;
    --operator-button-shadow: #B6B6B6;
    --equal-butoon: #F79700;
    --screen: #A2BF52;
}
#calculator {
    color: white;
    width: 100%;
    max-width: 500px;
}

#result {
    display: grid;
    grid-template-rows: 40px 60px;
    align-items: end;
    
    text-align: end;

    background-color: var(--screen);
    border: 8px solid var(--operator-button-shadow);
    border-radius: 8px;

    padding-right: 20px;
    margin: 0 30px 20px 30px;
}
#operation {
    font-size: 24px;
}
#final-result {
    font-size: 42px;
}


#calculator-base {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-template-rows: repeat(5, 85px);
    justify-content: center;
}

/*#row1 #row2 #row3 #row4 #row5 {
       
    background-color: var(--operator-button-shadow);
}*/

.calc-key {
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 7px;
    background-color: var(--operator);
    border: 8px solid var(--operator-button-shadow);
    border-radius: 8px;
}